.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
docs
README.md
LICENSE
**/bin
**/obj
bin/
obj/
**/.vs/
**/.vscode/
**/node_modules/
**/npm-debug.log
**/Dockerfile*
**/.dockerignore
**/*.md
**/*.logs
